* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-family: Tahoma, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --white-color: #fff;
    --text-color: #333;
    --primary-color: rgb(255, 165, 0);
}

.grid {
    width: 1200px;
    margin: 0px auto;
    max-width: 100%;
}