.header {
    height: 120px;
    background-color: orange;
}


/* Navbar */
.header__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.header__nav-item {
    margin: 0px 8px;
    position: relative;
}

.header__nav-item, .header__nav-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 100;
}

.header__nav-item:hover .header__qr {
    display: block;
}

.header__nav-item:hover .header__notify {
    display: block;
}

.header__nav-item:hover, .header__nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__nav-item--bold {
    font-weight: 600;
}

.header__nav-item--separate::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 16px;
    background-color: #ccc;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-icon {
    color: var(--white-color);
    padding-left: 4px;
}

/* QR */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 120%;
    border-radius: 2px;
    display: none;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: transparent;
    top: -12px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.header__qr-link:last-child {
    position: relative;
    top: -1px;
}

.header__ar-apps-img {
    height: 16px;
}

/* Notify */

.header__notify {
    position: absolute;
    width: 425px;
    background-color: white;
    left: -336px;
    top: 120%;
    border-radius: 3px;
    border: 1px solid #E8E8E8;
    margin-top: 10px;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
}

.header__notify::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 22px;
    top: -20px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: -15px;
}

.header__notify-header {
    color: #696969;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 1px solid #ccc;
}

.header__notify-list {
   
}

.header__notify-item {
    padding: 0 5px 0 5px;
    transition: 0.5s;
}

.header__notify-item:hover {
    background-color: rgba(255, 165, 0, 0.2);;
}

.header__notify-link {
    display: flex;
}

.header__notify-img {
    width: 50px;
    height: 50px;
    align-items: center;
    margin-right: 15px;
    margin-top: 20px;
}

.header__notify-info {
    color: var(--text-color);
    padding: 10px 0;
}

.header__notify-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
}

.header__notify-description {
    color: #696969;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    padding: 10px;
    display: block;
    color: var(--text-color);
    background-color: var(--primary-color);
}
